/* assets/style.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: orange;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px; /* Penyesuaian jarak di sekitar navbar */
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    color: #ffcc00; /* Ganti warna sesuai keinginan */
    border-bottom: 2px solid white; /* Atur ketebalan dan warna garis sesuai keinginan */
}

/* Set max-width for the logo */
.logo img {
    max-width: 100px; /* Adjust the value based on your design */
}

#banner {
    position: relative;
    background-position: center;
    width: 100%;
    height: 600px; /* Sesuaikan tinggi banner sesuai kebutuhan */
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1; /* Membuat teks tampil di depan gambar */
}

.banner-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 1em;
    margin-bottom: 20px;
    max-width: 400px;
}

.banner-content input {
    margin-top: 20px;
}

.banner-content button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.banner-content button:hover {
    background-color: #2980b9;
}

#banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mengisi gambar dan menjaga aspek rasio */
}

.card {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h3 {
    margin: 10px 0;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#post-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse; /* Change the direction to row-reverse */
}

.controls {
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 15px;
    background-color: #f0f0f0;
    padding: 10px;
}

.controls label {
    font-weight: bold;
}

.controls select {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.idea-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.card-image {
    width: 100%;
    max-height: 200px; /* Set a maximum height for the images if needed */
}

.card-content {
    margin-top: 10px;
}
